.span {
    font-size: 18px;
    display: inline-block;
    padding: 5px;
    text-decoration-color: #f6b93b;
    transition: all ease-in-out 0.05s;

}

.span:hover {
    transform: scale(1.1);
    text-decoration-line: underline;
}

.span:hover::after {
    position: absolute;
    right: -20px;
    top: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://img.icons8.com/ios-glyphs/452/pencil--v1.png');
    background-size: 18px 18px;
    display: inline-block;
    width: 18px;
    height: 18px;
    content: '';
}